{% extends '::base.html.twig' %}

{% block body %}
    {%  for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %} 
{#% for flashMessage in app.session.flashbag.get('failure') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %#}

    {% if projects|length > 0 %}
       <h2>My projects:</h2>
       <ol>
          {% for project in projects %}
              <li>{{ project.name }}</li>
          {% endfor %}
      </ol>
    {% else %}
       <h3>You don't have any projects yet.</h3>
    {% endif %}   


    <h3>Create new project:</h3>
    {{ form_start(project_form, {'action': path('create_project'), 'method': 'POST', attr:{'novalidate':'novalidate'} } ) }}
    
        {{ form_errors(project_form) }}
        {{ form_widget(project_form) }}
    <button  name="submit" type="submit">Submit</button>
    {{ form_end(project_form) }}
{% endblock body %}